body {
  font-family: "Roboto Serif", sans-serif;
  font-size: 20px;
  margin: 0;
}

main {
  margin-top: 1rem;
}

#banner {
  text-align: left;
  width: 8rem;
}

header {
  display: flex;
  margin: 0%;
  width: 100%;
  height: 8rem;
  align-items: center;
  background-color: #fff4e2;
  justify-content: space-between;
}

#imgBanner {
  width: 21%;
  display: inline-block;
  margin: 0%;
}

#bemvindo {
  width: auto;
  text-align: center;
  align-items: center;
}

#icons {
  display: flex;
  width: 22%;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

nav li {
  display: inline-block;
}

.eventos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cardEventos {
  margin: 5px;
  align-items: center;
  text-align: center;
  vertical-align: center;
  display: inline-block;
}

.imgEventos {
  border-radius: 10px;
  width: 23rem;
  height: 16rem;
}

.itens {
  align-items: center;
  font-style: italic;
}

#eventos {
  justify-content: center;

  align-items: center;

  flex-wrap: wrap;

  display: inline-block;

  @media (max-width: 1600px) {
    display: inline-block;
  }
}

.tituloCentralizado {
  text-align: center;
  color: #8c0c04;
  display: inline;
  font-size: 2rem;
}

.legendaImagem {
  font-size: 20px;
}

.novoTitulo {
  text-align: center;
  margin: 30px;
}

.tituloCentralizado {
  color: #8c0c04;
  display: inline;
}

a {
  text-decoration: none;
  color: black;
}

p {
  text-align: center;
}

strong {
  color: #8c0c04;
}

footer {
  background-color: #fff4e2;
  font-size: 17px;
}

.linha {
  display: flex;
  margin: 0%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.unica {
  text-align: center;
  padding: 1rem;
}

.colunaFooter {
  margin-left: 30px;
  margin-right: 30px;
  display: inline-block;
  text-align: center;
}

.colunaFooterEsquerda {
  display: inline-block;
  text-align: center;
  width: 30%;
}

.colunaFooterDireita {
  display: inline-block;
  text-align: right;
  align-items: center;
  width: 30%;
  margin-bottom: 0;
}

.icone {
  width: 50px;
  margin: 5px;
}

.mapa {
  width: 100%;
  text-align: center;
}

ul {
  padding: 0;
}

@media (max-width: 900px) {
  .tituloCentralizado {
    text-align: center;
    color: #8c0c04;
    display: inline;
    font-size: 1rem;
  }

  #icons {
    display: flex;
    width: 22%;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
  }

  #banner {
    text-align: left;
    width: 5rem;
  }

  .colunaFooter {
    display: inline-block;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    margin-right: 0;
    margin-left: 0;
  }

  .colunaFooterEsquerda {
    display: inline-block;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
  }

  .colunaFooterDireita {
    display: inline-block;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
    margin-bottom: 2rem;
  }

  .linha {
    display: inline;
    margin: 0%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .cardCadastro {
    margin: 12rem 0 12rem 1rem;
    width: 20rem;
  }
  .imgCadastro {
    height: 33vh;
  }
  .nameImg {
    font-size: 15px;
  }
  .inputLabel {
    font-size: 15px;
  }
  .btnEnvio,
  .btnReset {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .cardEventos {
    margin: 0;
  }

  .imgEventos {
    width: 16rem;
  }

  #icons {
    font-size: 8px;
  }

  .tituloCentralizado {
    font-size: 0.78rem;
  }
}

@media (max-width: 270px) {
  .cardEventos {
    margin: 0;
  }

  .imgEventos {
    width: 80%;
  }

  #icons {
    font-size: 6px;
  }

  .tituloCentralizado {
    font-size: 0.68rem;
  }
}

/* 
.color1 { #d1ac27 };
.color2 { #f4e1a4 };
.color3 { #8c0c04 };
.color4 { #896466 };
.color5 { #d2b0a3 };
.color6 { #ee9d8c };
.color7 { #FFF4E2 };
*/
